/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Defaults
2.0 Quote
  2.1 Buttons
--------------------------------------------------------------*/
/* Slightly darken a color
 @param {Color} $color - color to shade
 @param {Number} $percentage - percentage of `$color` in returned color
 @return {Color}
*/
body {
  font-family: 'Merriweather', serif; }

/*--------------------------------------------------------------
  1.0 Defaults
--------------------------------------------------------------*/
html, body {
  height: 100%; }

body {
  background: #D8E9F0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D8E9F0, #eef2f3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D8E9F0, #eef2f3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

*:focus {
  outline: none; }

.parent {
  width: 100%;
  height: 100%;
  display: table; }
  .parent > .child {
    display: table-cell;
    vertical-align: middle; }

/*--------------------------------------------------------------
	2.0 Quote
--------------------------------------------------------------*/
#quote-bg {
  background: white;
  position: relative;
  width: 420px;
  min-height: 200px;
  padding: 4em 4em 4em 5em;
  margin: 0 auto;
  box-shadow: 0 1px 4px 0 rgba(69, 90, 100, 0.5); }
  @media only screen and (max-width: 40em) {
    #quote-bg {
      width: 225px; } }
  #quote-bg #quote {
    line-height: 1.6;
    font-size: 26px;
    color: #444B77;
    margin-top: 2em; }
  #quote-bg #author {
    font-size: 14px;
    color: #C2CBD4;
    font-style: italic;
    margin: 1em 0; }

/*--------------------------------------------------------------
  2.1 Quote: Buttons
--------------------------------------------------------------*/
#buttons {
  background-color: #4A9FD5;
  position: absolute;
  right: -2em;
  top: 1.5em;
  height: 50px;
  width: 160px; }
  @media only screen and (max-width: 40em) {
    #buttons {
      right: 0; } }
  #buttons #tweet {
    background-color: white;
    position: relative;
    top: 0px;
    left: 0.5em;
    padding: 20px 12px 10px 12px;
    box-shadow: 0 1px 4px 0 rgba(69, 90, 100, 0.5);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    #buttons #tweet img {
      width: 25px; }
  #buttons button#newQuote {
    float: right;
    background-color: #54a6db;
    border: none;
    color: white;
    font-size: 12px;
    position: relative;
    top: 14px;
    right: 15px;
    text-shadow: 0px 1px 1px #2c83bb;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    #buttons button#newQuote:hover {
      background-color: #5caee2; }
    #buttons button#newQuote:active {
      top: 16px; }

/*# sourceMappingURL=style.css.map */
