html, body {
    height: 100%;
}
body {
  font-family: 'Merriweather', serif;
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
*:focus {
    outline: none;
}

.parent {
  width: 100%;
  height: 100%;
  display: table;
  > .child  {
    display: table-cell;
    vertical-align: middle;
  }
}

#quote-bg {
  position: relative;
  background-color: white;
  width: 500px;
  min-height: 150px;
  padding: 4em;
  margin: 0 auto;
  box-shadow: 0 1px 4px 0 rgba(69, 90, 100, 0.5);
  #quote {
    line-height: 1.6;
    font-size: 26px;
    color: #444B77;
    margin-top: 1em;
  }
  #author {
    font-size: 14px;
    color: #C2CBD4;
    font-style: italic;
    margin: 1em 0;
  }
}

#buttons {
  background-color: #4A9FD5;
  position: absolute;
  right: -2em;
  top: 1em;
  height: 50px;
  width: 150px;
  #tweet {
    background-color: #41404E;
    position: relative;
    top: 5px;
    left: 0.5em;
    padding: 15px;
    box-shadow: 0 1px 4px 0 rgba(69, 90, 100, 0.5);
    i {
      color: white;
    }
    &:hover {
      box-shadow: 0 1px 14px 0 rgba(69, 90, 100, 0.5);
    }
  }
  button#newQuote {
    float: right;
    background-color: #4A9FD5;
    border: none;
    color: #2172a6;
    font-size: 12px;
    font-weight: bold;
    margin-top: 13px;
    margin-right: 6px;
    text-shadow: 0px 1px 1px #6fbdef;
    &:hover {
      color: #115e90;
    }
  }
}
